/*  */
#login
{
  background: url(./images/Thalassery_Pier_43.jpg);
}

/* **************************************************************************************** */

body {
  font-family: 'Lato', sans-serif;
}

.progress {
  height: 5px;
}

.control-label {
  text-align: left !important;
  padding-bottom: 7px;
}

.form-horizontal {
  
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding-left: 20pt;
  padding-right: 20pt;
}

select.form-control:focus {
  border-color: #e9ab66;
  box-shadow: none;
}

.block-help {
  font-weight: 300;
}

.divider {
  position: absolute;
  height: 2px;
  border: 1px solid #eee;
  width: 100%;
  top: 10px;
  z-index: -5;
}

.ex-account {
  position: relative;
}

.ex-account p {
  background-color: rgba(255, 255, 255, 0.41);
}

select:hover {
  color: #444645;
  background: #ddd;
}

.fa-file-text {
  color: #edda39;
}

.mar-top-bot-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}